img.l-img{
float:left;
max-width: 100%;
margin: 1dvw;
box-shadow: none
}

div.container div.column-cq {
flex: 1;
container-type: inline-size;
}

@container (max-width: 500px) {
div.container div.column-cq { 
img.l-img {
display:block;
float:none;margin :0 auto}
}}
