/*
Source - https://stackoverflow.com/a/72825844
Posted by MagnusEffect
Retrieved 2026-03-02, License - CC BY-SA 4.0
*/

.maindiv{
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:center;
}

.img1 {
    top: 10px;
    right: 160px;
    width: 40px;
    height: auto;
    border-radius: 500px;
}
.text {
   margin-left:5px;
}
