---
layout: page
---

---
layout: post
title: What IS DashCon 2 Romania?
subtitle: CE este DashCon 2 România?
cover-img: /assets/img/path.jpg
thumbnail-img: /assets/img/aa.png
share-img: /assets/img/path.jpg
tags: [info]
---

#### _Let me tell you about DashCon..._

---

### What IS _DashCon 2: Romania_ ?

_DashCon 2: Romania_ is a convention dedicated to all things **fandom** and to the beautiful **fans** that make up said fandoms!

_DashCon_ was the name of the [**infamous**](https://www.youtube.com/watch?v=ZAqy-KDJAUM) 2014 tumblr convention. A memorable time in fandom history marked by the famed ball pit they had at the event.

Now, _DashCon **2**_ is a wonderful and magical re-invention of the old event organized by a whole new team of people, unaffiliated with the original team, who took it upon themselves to bring to fruition the full potential of what _DashCon_ can be.

We've been so inspired by their achievements, _and wanted so badly to have an excuse to buy a big ball pit_, that we've asked them if we can try our hand at a small little off-shoot version of the event here in Romania! 

...**They actually replied!** So we've licensed the "DashCon 2" name from them and they graciously gave us their blessing to have a go at it!


### We're beyond ourselves with excitement to announce it for you all: **_DashCon 2: Romania!_**


_Now_, I mean it when I said _little version_. We’re nowhere near the scale of _DashCon 2_ as we’re a small team supporting all the costs ourselves and with this being our first go at a convention, we’re aiming small, learning from the [mistakes of the past](https://upload.wikimedia.org/wikipedia/en/7/77/DashCon_Ball_Pit.jpg).


The event will last for **one day** and will take place on the **21st of November 2026**. _We'll be back soon with more details!_



#### ... and _yes_! We'll have a ball pit.


<details markdown="1">
<summary>Traducere!</summary>

### CE este _DashCon 2: România_ ?

_DashCon 2: România_ este o convenție dedicată tuturor lucrurilor legate de **fandom** și tuturor **fanilor** minunați care alcătuiesc aceste fandom-uri!

_DashCon_ a fost numele unei convenții Tumblr din 2014 [**de mare notorietate**](https://www.youtube.com/watch?v=ZAqy-KDJAUM). Un moment cu adevărat memorabil în istoria culturii online marcată de faimoasa lor piscină cu bile.

Acum  _DashCon **2**_ este o recreere minunată și magică a vechiului eveniment a unei noi echipe de organizatori, fară vreo afiliere cu echipa originală, care și-au propus și au reușit să aducă la bun sfârșit întregul potențial pe care _DashCon_  îl are.


Noi am fost atât de inspirați de reușitele lor, și am vrut o scuză să ne cumpărăm o piscină mare cu bile, încât le-am trimis un email întrebându-i dacă ne-ar da voie să facem o mică versiune a evenimentului aici în România!

.. **Și chiar ne-au răspuns!** Așa am ajuns să licențiem numele de "DashCon 2" de la ei și, mai mult de atât, ei ne-au dat binecuvântarea lor să ne facem de cap!


### Suntem incredibil de încântați să vă prezentăm: **_DashCon 2: România!_**


Am zis intenționat _o versiune mică_. Nu suntem nici pe aproape de mărimea convenției DashCon 2. Suntem o echipă mică care suportă toate cheltuielile și, fiind prima noastră încercare la un eveniment de acest nivel, țintim spre o scară mică, învățând din [greșelile predecesorilor noștri](https://upload.wikimedia.org/wikipedia/en/7/77/DashCon_Ball_Pit.jpg).


Evenimentul va dura **o zi** și va avea loc pe data de **21 noiembrie 2026**. _Vom reveni în curând cu mai multe detalii!_



#### ... și _da_! O să avem o piscină cu bile.

</details>

{{ content }}

{% assign posts = paginator.posts | default: site.posts %}

<!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
<ul class="posts-list list-unstyled" role="list">
  {% for post in posts %}
  <li class="post-preview">
    <article>

      {%- capture thumbnail -%}
        {% if post.thumbnail-img %}
          {{ post.thumbnail-img }}
        {% elsif post.cover-img %}
          {% if post.cover-img.first %}
            {{ post.cover-img[0].first.first }}
          {% else %}
            {{ post.cover-img }}
          {% endif %}
        {% else %}
        {% endif %}
      {% endcapture %}
      {% assign thumbnail=thumbnail | strip %}

      {% if site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-normal">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}
      {% endif %}

      <a href="{{ post.url | absolute_url }}">
        <h2 class="post-title">{{ post.title | strip_html }}</h2>

        {% if post.subtitle %}
          <h3 class="post-subtitle">
          {{ post.subtitle | strip_html }}
          </h3>
        {% endif %}
      </a>

      {% if post.author %}
        <span>By <strong>{{ post.author | strip_html }}</strong></span>
      {% endif %}
      <p class="post-meta">
        {% assign date_format = site.date_format | default: "%B %-d, %Y" %}
        Posted on {{ post.date | date: date_format }}
      </p>

      {% if thumbnail != "" %}
      <div class="post-image post-image-small">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      {% unless site.feed_show_excerpt == false %}
      {% if thumbnail != "" %}
      <div class="post-image post-image-short">
        <a href="{{ post.url | absolute_url }}" aria-label="Thumbnail">
          <img src="{{ thumbnail | absolute_url }}" alt="Post thumbnail">
        </a>
      </div>
      {% endif %}

      <div class="post-entry">
        {% assign excerpt_length = site.excerpt_length | default: 50 %}
        {{ post.excerpt | strip_html | truncatewords: excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > excerpt_length %}
          <a href="{{ post.url | absolute_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
      {% endunless %}

      {% if site.feed_show_tags != false and post.tags.size > 0 %}
      <div class="blog-tags">
        <span>Tags:</span>
        <!-- role="list" needed so that `list-style: none` in Safari doesn't remove the list semantics -->
        <ul class="d-inline list-inline" role="list">
          {% for tag in post.tags %}
          <li class="list-inline-item">
            <a href="{{ '/tags' | absolute_url }}#{{- tag -}}">{{- tag -}}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

    </article>
  </li>
  {% endfor %}
</ul>

{% if paginator.total_pages > 1 %}
<ul class="pagination main-pager">
  {% if paginator.previous_page %}
  <li class="page-item previous">
    <a class="page-link" href="{{ paginator.previous_page_path | absolute_url }}">
      <i class="fas fa-arrow-left" alt="Newer Posts"></i>
      <span class="d-none d-sm-inline-block">Newer Posts</span>
    </a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="page-item next">
    <a class="page-link" href="{{ paginator.next_page_path | absolute_url }}">
      <span class="d-none d-sm-inline-block">Older Posts</span>
      <i class="fas fa-arrow-right" alt="Older Posts"></i>
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
